 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 239px auto 60px -28px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 66px auto 0 38px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px 119px 0 38px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 18px auto 0 38px;
  padding: 16px 67px 16px 66px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 461px;
  width: 593px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -26px auto 0 -63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 359px;
  }

  .u-section-1 .u-image-1 {
    height: 243px;
    width: 313px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-1 .u-image-1 {
    height: 186px;
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 390px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 475px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 990px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 37px 236px 0 244px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 68px 422px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -39px auto 0 392px;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -39px 528px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 589px;
  height: 589px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -10px auto 0 -30px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  margin: -488px 60px 0 723px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 24px 93px 0 723px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 37px 353px 0 auto;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px 252px 0 auto;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px 142px 0 auto;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px 41px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 816px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 136px;
    margin-left: 144px;
    width: 520px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 92px;
    margin-right: 222px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -63px;
    margin-left: 192px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 328px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 583px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 33px;
    margin-left: 583px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 26px;
    margin-left: 34px;
    width: 384px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 68px;
    margin-right: 2px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 108px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 363px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 363px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 223px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -155px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 184px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -481px;
    margin-left: 183px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 183px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 167px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
    margin-top: 126px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -626px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 376px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 105px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 91px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 89px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 729px;
}

.u-section-4 .u-image-1 {
  height: 596px;
  width: 460px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px auto 0 -10px;
}

.u-section-4 .u-list-1 {
  width: 768px;
  margin: -475px 53px 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px) calc(33.3333% - 21.3333px);
  min-height: 234px;
  grid-gap: 32px 32px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 32px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 32px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 32px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
    min-height: 234px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
    min-height: 658px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    min-height: 658px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-4 .u-image-1 {
    height: 441px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -320px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1347px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 539px;
  margin: 81px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 18px 318px 0;
}

.u-section-5 .u-list-1 {
  width: 387px;
  margin: 35px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 899px;
  grid-gap: 40px 40px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  min-height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  width: 38px;
  height: 38px;
  margin: -3px auto 0 43px;
}

.u-section-5 .u-text-6 {
  text-align: center;
  margin: -38px 54px 0 81px;
}

.u-section-5 .u-icon-2 {
  width: 38px;
  height: 38px;
  margin: -427px auto 0 43px;
}

.u-section-5 .u-icon-3 {
  width: 38px;
  height: 38px;
  margin: 35px auto 0 43px;
}

.u-section-5 .u-icon-4 {
  width: 38px;
  height: 38px;
  margin: 65px auto 0 43px;
}

.u-section-5 .u-icon-5 {
  width: 38px;
  height: 38px;
  margin: 32px auto 0 43px;
}

.u-section-5 .u-icon-6 {
  width: 38px;
  height: 38px;
  margin: 34px auto 0 43px;
}

.u-section-5 .u-icon-7 {
  width: 38px;
  height: 38px;
  margin: 33px auto 0 43px;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 55px auto 0;
  padding: 16px 41px 16px 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 218px;
    margin-right: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 108px;
    margin-right: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 31px;
    margin-left: 58px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 608px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-6 .u-accordion-1 {
  width: 1140px;
  margin: 75px 0 60px;
}

.u-section-6 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
  }
}